/* Fonts on Server */
@import url("fonts.css");

/* Reset Style */
@import url("reset.css");

body {
   font-family: "Causten", sans-serif;
   font-size: 18px;
   font-style: normal;
}
main {
	margin-bottom: 40px;
}
footer{
	padding-bottom: 40px;
}
h1 {
   font-size: 28px;
   text-align: center;
	margin-bottom: 40px;
}
.header {
   max-width: 900px;
   margin: 0 auto;
	margin-bottom: 40px;
}
.image-header {
   max-width: 900px;
   margin-bottom: 50px;
}
.header__list, .go-to-up, .social__list {
   text-align: center;
   font-size: 20px;
}
.header__list li, .social__list li {
   display:inline;
   color: #6b77e5;
	padding-right: 20px;
}
.header__list li.last {
	padding-right: unset;
}
.go-to-up{
   color: #6b77e5;
}
.social__list {
   font-size: 0;
}
.header__list li a:hover, .go-to-up a:hover {
   color: #40ddb6;
}
.block-consulting {
   font-family: "Inter", sans-serif;
   color: #37393f;
	padding-bottom: 80px;
	max-width: 722px;
	margin: 0 auto;
}
.image-consulting {
	margin-bottom: 37px;
}
.image-consulting,
.image-benefits {
	max-width: 100%;
}
.heading-consulting,
.sub-heading-consulting,
.heading-benefits,
.sub-heading-benefits {
	font-family: "Poppins", sans-serif;
}
.heading-consulting, .lesson-heading {
	color: #37393f;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 12.5px;
}
.text-consulting {
	line-height: 1.46;
	margin-bottom: 40px;
}
.text-consulting p {
	margin-bottom: 15px;
}
.sub-heading-consulting {
	color: #6b77e5;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.27;
	margin-bottom: 12px;
}
.benefits {
	font-size: 0;
	margin-bottom: 50px;
}
.image-benefits {
	width: 331px;
	margin-right: 29px;
}
.content-benefits {
	display: inline-block;
	width: 332px;
	font-size: 18px;
}
.heading-benefits {
	color: #37393f;
	font-size: 25px;
	line-height: 1.27;
	font-weight: 600;
	margin-bottom: 15px;
}
.sub-heading-benefits {
	color: #40ddb6;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 23.5px;
}
.list-benefits li {
   margin-bottom: 35px;  
}
.jewellery-wrap {
	font-size: 0;
	background: #FFF9F4;
	width: 100%;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.block-jewellery {
	max-width: 1170px;
	margin: 0 auto;
}
.block-jewellery-text {
	display: inline-block;
	max-width: 563px;
	font-size: 20px;
	margin-right: 38px;
	padding-top: 28px;
}
.block-jewellery-text h4 {
	font-family: "Inter", sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	color: #d06b00;
	margin-bottom: 13px;
}
.block-jewellery-text h2 {
	font-family: "DM Serif Text", serif;
	font-size: 59px;
	line-height: 1.46;
	text-transform: capitalize;
	margin-bottom: 25px;
	color: #0E333D
}
.block-jewellery-text p {
	font-family: "Inter", sans-serif;
	font-size: 20px;
	color: #474747;
	line-height: 1.8;
}
.block-jewellery-image {
	vertical-align: top;
	display: inline-block;
}
.block-jewellery-image img {
	margin-right: 22px;
	max-width: 100%;
}
.block-jewellery-image .block-jewellery-image-right {
	margin-right: 0px;
}
.lesson-6 {
	width: 100%;
	padding-bottom: 40px;
}
.wrap-lesson {
   max-width: 600px;
   margin: 0 auto;
	font-family: "Inter", sans-serif;
   color: #37393f;
}
.wrap-lesson p {
	font-size: 18px;
	font-style: normal;
	line-height: 1.46;
}
.wrap-lesson ul {
	margin-bottom: 10px;
}
.property-items li {
   list-style: unset;
	line-height: 1.46;
	margin-left: 40px;
	color: #EB5757;
}
.property-items span {
	color: #37393f;
}
#display-none {
	display: none;
}
